# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
*.env
.vscode/
.idea/
*.db
!ah_collectibles.db # Keep the database file if it's meant to be committed, otherwise keep as *.db

# Node.js/Frontend
node_modules/
dist/
.vite/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.parcel-cache/

# OS-specific
.DS_Store
Thumbs.db

# Logs
*.log